body {
  background-color: #ebf5fb;
  font-family: "Lora", serif;
}

#taryn-morris {
  background-color: #6c86a5;
  color: #fff;
  padding-left: 5px;
}

#headshot {
  max-width: 100%;
}

#pic {
  float: left;
  width: 30%;
}

#text {
  padding-left: 1rem;
  float: left;
  width: 60%;
}

nav.horizontal ul {
  min-width: 300px;
}
