body {
  background-color: #ebf5fb;
  font-family: "Lora", serif;
}

#taryn-morris {
  color: #000;

  padding-left: 5px;
}

#headshot {
  width: 400px;
  float: left;
  max-width: 100%;
}

#pic {
  float: left;
  width: 30%;
  padding-left: 1rem;
}

#text {
  padding-left: 1rem;
  width: 60%;
  float: left;
}

nav.horizontal {
}
nav.horizontal ul {
  min-width: 300px;
}

nav.horizontal a {
  color: #000;
}

hr {
  color: #000;
  border-color: #000;
}

.post h1 a {
  color: #000;
}
